html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
}

/*每个屏幕背景设置*/
/*第一屏*/
.xcyScreen-one {
    background-color: #fff;
    position: relative;
}

.scyScreen-one-top {
    width: 5.06rem;
    height: 4.38rem;
    background: url("../images/scyScreen-one-top.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 1.4rem;
    opacity: 0;
}

.scyScreen-one-bottom {
    width: 4.88rem;
    height: 4.82rem;
    margin: 0 auto;
    background: url("../images/scyScreen-one-bottom.png") no-repeat center;
    background-size: cover;
    opacity: 0;
}

/*对iphone4进行特殊处理*/
@media screen and (max-height: 480px) {
    .scyScreen-one-top {
        width: 80%;
        height: 4.5rem;
        background: url("../images/scyScreen-one-top.png") no-repeat center;
        background-size: cover;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 0;
        opacity: 0;
    }

    .scyScreen-one-bottom {
        width: 80%;
        height: 5.5rem;
        margin: 0 auto;
        background: url("../images/scyScreen-one-bottom.png") no-repeat center;
        background-size: cover;
        opacity: 0;
    }
}

/*第二屏*/
.xcyScreen-two {
    background-color: #fff;
}

.xcyScreen-two-main {
    width: 100%;
    position: relative;
    top: -0.9rem;
}

.xcyScreen-two-title {
    width: 4.64rem;
    height: 0.87rem;
    background: url("../images/xcyScreen-two-title.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 0.5rem;
    position: relative;
    z-index: 2;
    opacity: 0;
}

.xcyScreen-two-main1 {
    width: 100%;
    height: 11.06rem;
    background: url("../images/xcyScreen-two-main1.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.xcyScreen-two-main2 {
    width: 100%;
    height: 11.06rem;
    background: url("../images/xcyScreen-two-main2.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/*第三屏*/
.xcyScreen-three {
    background-color: #fff;
}

.xcyScreen-three-title {
    width: 4.92rem;
    height: 1.14rem;
    background: url("../images/xcyScreen-three-title.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-left: 1.13rem;
    margin-top: 0.5rem;
    opacity: 0;
}

.xcyScreen-three-main {
    position: relative;
    margin-top: 0.8rem;
}

.xcyScreen-three-mian1 {
    width: 4.04rem;
    height: 2.13rem;
    background: url("../images/xcyScreen-three-mian1.png") no-repeat;
    background-size: cover;
    position: absolute;
    left: 1.4rem;
    opacity: 0;
}

.xcyScreen-three-mian2 {
    width: 3.91rem;
    height: 4.7rem;
    background: url("../images/xcyScreen-three-mian2.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 1.0rem;
    left: 2.4rem;
    opacity: 0;
}

.xcyScreen-three-mian3 {
    width: 1.48rem;
    height: 3.51rem;
    background: url("../images/xcyScreen-three-mian3.png") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0.79rem;
    top: 2.19rem;
    opacity: 0;
}

.xcyScreen-three-mian4 {
    width: 5.46rem;
    height: 2.76rem;
    background: url("../images/xcyScreen-three-mian4.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 5.8rem;
    left: 1rem;
    opacity: 0;
}

/*第四屏*/
.xcyScreen-four {
    background-color: #5DA9FF;
}

.xcyScreen-four-title {
    width: 5.93rem;
    height: 0.87rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    background: url("../images/xcyScreen-four-title.png") no-repeat;
    background-size: cover;
    opacity: 0;
}

.xcyScreen-four-center {
    width: 5.03rem;
    height: 3.46rem;
    background: url("../images/xcyScreen-four-center.png") no-repeat;
    background-size: cover;
    position: relative;
    top: 1rem;
    left: 1.17rem;
    opacity: 0;
}

.xcyScreen-four-fans {
    position: relative;
    top: 1.8rem;
    width: 5.9rem;
    margin: 0 auto;
}

.xcyScreen-four-fans > li {
    float: left;
    opacity: 0;
}

.xcyScreen-four-fans > li:nth-child(1) {
    width: 2.41rem;
    height: 0.73rem;
    background: url("../images/xcyScreen-four-fans1.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(2) {
    width: 3.21rem;
    height: 0.73rem;
    margin-left: 0.25rem;
    background: url("../images/xcyScreen-four-fans2.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(3) {
    width: 1.40rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    background: url("../images/xcyScreen-four-fans3.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(4) {
    width: 2.64rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    margin-left: 0.22rem;
    background: url("../images/xcyScreen-four-fans4.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(5) {
    width: 1.40rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    margin-left: 0.23rem;
    background: url("../images/xcyScreen-four-fans5.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(6) {
    width: 1.76rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    background: url("../images/xcyScreen-four-fans6.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(7) {
    width: 1.70rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    margin-left: 0.25rem;
    background: url("../images/xcyScreen-four-fans7.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(8) {
    width: 1.88rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    margin-left: 0.25rem;
    background: url("../images/xcyScreen-four-fans8.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(9) {
    width: 2.70rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    background: url("../images/xcyScreen-four-fans9.png") no-repeat;
    background-size: cover;
}

.xcyScreen-four-fans > li:nth-child(10) {
    width: 3rem;
    height: 0.73rem;
    margin-top: 0.35rem;
    margin-left: 0.2rem;
    background: url("../images/xcyScreen-four-fans10.png") no-repeat;
    background-size: cover;
}

/*第五屏*/
.xcyScreen-five {
    background-color: #fff;
    background: url("../images/xcyScreen-five-Mars.png") no-repeat center;
    background-size: cover;
}

.xcyScreen-five-title {
    width: 5rem;
    height: 0.87rem;
    background: url("../images/xcyScreen-five-title.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 0.5rem;
    opacity: 0;
}

.xcyScreen-five-startBgc {
    width: 100%;
    height: 100%;
}

.xcyScreen-five-content {
    width: 6rem;
    height: 4rem;
    background: url("../images/xcyScreen-five-content.png") no-repeat 0.5rem 0.3rem;
    background-size: 3.22rem 2.86rem;
    margin: 0 auto;
    margin-top: 0.85rem;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.xcyScreen-five-contentText1 {
    width: 2.7rem;
    height: 0.54rem;
    background: url("../images/xcyScreen-five-contentText1.png") no-repeat;
    background-size: cover;
    margin-left: 0.8rem;
    margin-top: 0.15rem;
    opacity: 0;
}

.xcyScreen-five-contentText2 {
    width: 3.32rem;
    height: 0.53rem;
    background: url("../images/xcyScreen-five-contentText2.png") no-repeat;
    background-size: cover;
    margin-left: 1.8rem;
    margin-top: 0.6rem;
    opacity: 0;
}

.xcyScreen-five-contentText3 {
    width: 2.2rem;
    height: 0.54rem;
    background: url("../images/xcyScreen-five-contentText3.png") no-repeat center;
    background-size: contain;
    margin-left: 3.8rem;
    margin-top: 0.8rem;
    opacity: 0;
}

.xcyScreen-five-contentText4 {
    width: 1.47rem;
    height: 0.53rem;
    background: url("../images/xcyScreen-five-contentText4.png") no-repeat;
    background-size: cover;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
    opacity: 0;
}

.xcyScreen-five-Mars {
    width: 4.79rem;
    height: 3.68rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: -2.4rem;
}

.xcyScreen-five-MarsMan {
    width: 4.79rem;
    height: 3.68rem;
    background: url("../images/xcyScreen-five-MarsMan.png") no-repeat center;
    background-size: cover;
    opacity: 0;
}

/*第六屏*/
.xcyScreen-six {
    background: url("../images/xcyScreen-six-bgc.png") no-repeat center;
    background-size: cover;
    background-color: #fff;
}

.xcyScreen-six-title {
    width: 5.94rem;
    height: 0.87rem;
    background: url("../images/xcyScreen-six-title.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 0.5rem;
    opacity: 0;
}

.xcyScreen-six-title-bigPhone {
    width: 6.94rem;
    height: 7.21rem;
    margin: 0 auto;
    margin-top: 1rem;
    background: url("../images/xcyScreen-six-title-bigPhone.png") no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0;
}

/*对那四个特殊特效进行特殊的处理*/
/*统一群发部分*/
.xcyScreen-six-Mass {
    width: 3rem;
    height: 0.22rem;
    position: absolute;
    top: 0.5rem;
    right: 0;
    opacity: 0;
}

.xcyScreen-six-Mass > span {
    width: 0.14rem;
    height: 0.14rem;
    background-color: #F94825;
    display: block;
    float: left;
    border-radius: 50%;
}

.xcyScreen-six-Mass > li {
    width: 1.5rem;
    height: 0.04rem;
    margin-top: 0.05rem;
    background-color: #F94825;
    float: left;
}

.xcyScreen-six-Mass > div {
    width: 0.97rem;
    height: 0.22rem;
    background: url("../images/xcyScreen-six-Mass.png") no-repeat;
    background-size: cover;
    float: right;
    margin-top: -0.05rem;
}

/*实时监控*/
.xcyScreen-six-monitoring {
    width: 2.2rem;
    height: 0.52rem;
    position: absolute;
    top: 2.7rem;
    right: 0;
    opacity: 0;
}

.xcyScreen-six-monitoring > span {
    width: 0.14rem;
    height: 0.14rem;
    background-color: #F94825;
    display: block;
    float: left;
    border-radius: 50%;
}

.xcyScreen-six-monitoring > li {
    width: 0.75rem;
    height: 0.04rem;
    margin-top: 0.05rem;
    background-color: #F94825;
    float: left;
}

.xcyScreen-six-monitoring > div {
    width: 0.97rem;
    height: 0.52rem;
    margin-top: -0.22rem;
    background: url("../images/xcyScreen-six-monitoring.png") no-repeat;
    background-size: cover;
    float: right;
}

/*团结协作*/

.xcyScreen-six-Collaboration {
    width: 2.3rem;
    height: 0.22rem;
    position: absolute;
    top: 4.75rem;
    right: 0;
    opacity: 0;
}

.xcyScreen-six-Collaboration > span {
    width: 0.14rem;
    height: 0.14rem;
    background-color: #F94825;
    display: block;
    float: left;
    border-radius: 50%;
}

.xcyScreen-six-Collaboration > li {
    width: 0.85rem;
    height: 0.05rem;
    margin-top: 0.05rem;
    background-color: #F94825;
    float: left;
}

.xcyScreen-six-Collaboration > div {
    width: 0.97rem;
    height: 0.22rem;
    margin-top: -0.05rem;
    background: url("../images/xcyScreen-six-Collaboration.png") no-repeat;
    background-size: cover;
    float: right;
}

/*下方电脑区域*/
.xcyScreen-six-title-pc {
    width: 2.77rem;
    height: 1.94rem;
    background: url("../images/xcyScreen-six-title-pc.png") no-repeat;
    background-size: cover;
    margin-left: 2rem;
    margin-top: -0.65rem;
    position: relative;
    z-index: 2;
    opacity: 0;
}

/*集合公众号是一个平台*/
.xcyScreen-six-platform {
    opacity: 0;
}

.xcyScreen-six-platform > span {
    width: 0.14rem;
    height: 0.14rem;
    background-color: #F94825;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.xcyScreen-six-platform > span:nth-of-type(1) {
    top: 1rem;
    left: 0.1rem;
}

.xcyScreen-six-platform > li:nth-of-type(1) {
    width: 1.3rem;
    height: 0.04rem;
    background-color: #F94825;
    position: absolute;
    top: 1.04rem;
    left: -1.1rem;
}

.xcyScreen-six-platform > li:nth-of-type(2) {
    width: 0.04rem;
    height: 1.3rem;
    background-color: #F94825;
    position: absolute;
    top: -0.22rem;
    left: -1.1rem;
}

.xcyScreen-six-platform > span:nth-of-type(2) {
    top: -0.3rem;
    left: -1.15rem;
}

.xcyScreen-six-platform > div {
    width: 1.22rem;
    height: 0.52rem;
    background: url("../images/xcyScreen-six-platform.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: -1rem;
    left: -1.7rem;
}

/*第七屏*/
.xcyScreen-seven {
    background-color: #fff;
}

/*第七屏的标题*/
.xcyScreen-seven-title {
    width: 4.85rem;
    height: 1.25rem;
    background: url("../images/xcyScreen-seven-title.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 0.5rem;
    opacity: 0;
}

.xcyScreen-seven-content-intel {
    width: 6.75rem;
    height: 2.31rem;
    background: url("../images/xcyScreen-seven-content-intel.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 0.65rem;
    margin-left: 0.3rem;
    opacity: 0;
}

.xcyScreen-seven-content-mazDa {
    width: 6.82rem;
    height: 2.31rem;
    background: url("../images/xcyScreen-seven-content-mazDa.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 0.7rem;
    margin-left: 0.2rem;
    opacity: 0;
}

.xcyScreen-seven-content-amazon {
    width: 6.94rem;
    height: 2.31rem;
    background: url("../images/xcyScreen-seven-content-amazon.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 0.7rem;
    margin-left: 0.1rem;
    opacity: 0;
}

/*第八屏*/
.xcyScreen-eight {
    background: #5DA9FF url("../images/xcyScreen-eightBgc.png") no-repeat center;
    background-size: cover;
}

.xcyScreen-eight-content {
    width: 5.59rem;
    height: 7.87rem;
    margin: 2.1rem auto;
    opacity: 0;
}

/*向下的固定箭头*/
.fixed-arrows {
    width: 100%;
    height: 0.75rem;
    color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1;
    /*background-color: #c786ff;*/
}

.fixed-arrows > span {
    width: 0.64rem;
    height: 0.3rem;
    display: block;
    margin: 0 auto;
    background: url("../images/button.png") no-repeat;
    background-size: 0.64rem 0.3rem;
    /*箭头呼吸闪烁*/
    -webkit-animation: arrowsBlink 3s .2s ease both infinite;
    -moz-animation: arrowsBlink 3s .2s ease both infinite;
}

/*音乐部分开始*/
.fixed-music {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: fixed;
    top: 0.2rem;
    right: 0.2rem;
    z-index: 99;
    background: url("../images/fixed-music.png") no-repeat center;
    background-size: 38px 38px;
    overflow: hidden;
    /*旋转按钮*/
    -webkit-animation: fixed-music-My 2s linear both infinite;
    -moz-animation: fixed-music-My 2s linear both infinite;
}

    .fixed-music > audio {
        width: 44px;
        height: 44px;
        opacity: 0;
        margin-left: 50px;
    }

/*音乐部分结束*/